<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Todo App</title>
</head>
<body>
    <h1>Todo List</h1>

    <form th:action="@{/save}" th:object="${todo}" method="POST">
        <input type="text" th:field="*{title}" placeholder="Enter todo title" required />
        <button type="submit">Add</button>
    </form>
    
    <br/>

    <table>
        <tr>
            <th>ID</th>
            <th>Title</th>
            <th>Completed</th>
            <th>Actions</th>
        </tr>
        <tr th:each="todo : ${listTodos}">
            <td th:text="${todo.id}"></td>
            <td th:text="${todo.title}"></td>
            <td th:text="${todo.completed}"></td>
            <td>
                <a th:href="@{/edit/{id}(id=${todo.id})}">Edit</a>
                <a th:href="@{/delete/{id}(id=${todo.id})}">Delete</a>
        </tr>
    </table>
    
</body>
</html>